*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
*.vscode
tethysapp/*/workspaces/app_workspace/*
tethysapp/*/workspaces/user_workspace/*
!tethysapp/*/workspaces/*/.gitkeep
